@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&family=Righteous&family=VT323&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(20, 20, 20);
}
#container {
    display: flex;
    align-items: center;
    gap: 3.5rem;
}
#img img {
    width:31rem;
}
#calculator {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    color: #fff;
    background-color: #262626;
    border-radius: 5px;
}
#form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#title {
    font-size: 2.25rem;
    position: relative;
}
#title:after {
    position: absolute;
    content: '';
    background-color: #c126ffe0;
    width: 14rem;
    height: 3px;
    bottom: 0;
    left: 0;
    border-radius: 5px;
}

.input-box label {
    font-size: 1.1rem;
    color: #fff;
    font-weight: 400;
}
#input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4e4e4e;
    padding: 0.3rem;
    border-radius: 5px;
    margin-top: 3px;
}

#input-field span,
#input-field i {
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    padding: 0.6rem 1rem;
}
#input-field input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.3rem;
    color: #fff;
    padding: 0 0.5rem;
}
#input-field input::-webkit-outer-spin-button,
#input-field input::-webkit-inner-spin-button {
    appearance: none;
}
#input-field input:focus {
    outline: none;
}
#calculate {
    border: none;
    font-size: 1.30rem;
    font-weight: bolder;
    background-color: #c126ffe0;
    padding: 0.5rem 0;
    border-radius: 5px;
    cursor: crosshair;
    height: 55px;
    margin-top: 25px;
    color: #fff;
}
#calculate:hover {
    background-color: #a00edae0;
}
#result {
    display: flex;
    gap: 2rem;
    align-items: center;
    border-top: 1px solid #ffffff30;
    padding: 0.75 0;
}
#bmi {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2.2rem;
}
#bmi span:last-child {
    font-size: 0.8rem;
    color: #fff;
}
#description {
    width: 15.5rem;
    font-size: 0.8rem;
}
#more-info {
    border-top: 1px solid #ffffff30;
    padding: 1.5rem;
}
#more-info a {
    color: #c126ffe0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.8rem;
    text-decoration: none;
}
#more-info a:hover {
    color: #fff;
}
.hidden {
    display: none;
}
.normal {
    color: green;
}
.attention {
    color: red;
}