body {
    background-color: rgb(81, 148, 224);
    font-family: 'Courier New', Courier, monospace;

}
header {
    text-align: center;
}
section {
    background-color: #ffffff;
    border-radius: 10px;
    margin: auto;
    width: 55%;
    height: 500px;
    padding: 20px;
    text-align: center;
    box-shadow: 10px 10px 18px rgba(0, 0, 0, 0.336);
}
select#flista {
    width: 250px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}
footer {
    font: black;
    text-align: center;
    color: #ffffff;
}